@using TXTextControl.Web.MVC.DocumentViewer

@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 800px; height: 600px;">
    @Html.TXTextControl().DocumentViewer(settings => {
    settings.Dock = DocumentViewerSettings.DockStyle.Fill;
    settings.ToolbarDocked = true;
    }).Render()
</div>

<input type="button" value="Merge Document" onclick="mergeDocument()" />

@section Scripts {
<script type="text/javascript">

    function mergeDocument() {

        // call the Web API "MergeDocument"
        $.ajax({
            type: "GET",
            url: "/Home/mergeDocument",
            contentType: 'application/json',
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            TXDocumentViewer.loadDocument(data);
        }

        function errorFunc(xhr, ajaxOptions, thrownError) {
            alert(thrownError);
        }
    }
</script>
}
